.introCard {
  position: absolute;
  top: 100px;
  width: 500px;
  z-index: 10;
  background-color:var(--boxes-bg);
  border-radius: 20px;
  box-shadow: var(--light-shadow);
}
.introImg {
  position: relative;
  border-bottom: 2px dotted rgb(75, 75, 75);
  padding-bottom: 30px;
}
.introImg a img {
  position: relative;
  left: 30%;
  width: 150px;
  margin: 10px;
  border-radius: 50%;
}
.introImg a h3 {
  color:var(--text-color);
  text-align: center;
}

.wrapper {
  position: absolute;
  left: 20%;
  top: 170px;
}

.wrapper .dynamic-txts {
  height: 50px;
  line-height: 10px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color:var(--text-color);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--boxes-bg);
  border-left: 2px solid var(--text-color);
  animation: typing 3s steps(15) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

.pLinks {
  padding: 20px 0px;
  border-bottom: 2px dotted rgb(75, 75, 75);
}

.iconList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}

.linkedin , .facebook, .instagram , .twitter , .github{
  color:var(--text-color);
  font-weight: 800;
  font-size: 1.6rem;
  transition: 0.6s color;
}

.linkedin:hover {
  color: #050220;
}

.facebook:hover {
  color: #2e2bdb;
}

.twitter:hover {
  color:#47c9f5;
}

.instagram:hover{
  color:rgb(143, 5, 28);
}

.github:hover{
  color: #000;
}


.adressP {
  margin: auto;
  padding: 20px 0px;
  border-bottom: 2px dotted rgb(75, 75, 75);
}

.adressP p,
.adressP h4 {
  color:var(--text-color);
  text-align: center;
}
.adressbtn {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .introCard {
    width: auto;
    top: 400px;
    z-index: -1;
  }

  .wrapper {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .introImg a img {
    left: 27%;
  }
  .introCard {
    top: 300px;
  }
}

@media screen and (max-width: 300px) {
  .introImg a img {
    left: 20%;
  }
}
