.util-container ,
.summary-cls,
.util-heading {
background-color: var(--boxes-bg);
color: var(--text-color);
box-shadow:var(--light-shadow);
border-radius: 10px;
padding:5px 30px;
margin:20px auto;
}


