@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.dark-mode{
  --text-color:#fff;
  --body-bg:#02162b;
  --contact-input-bg:#02162b;
  --nav-link-hover:#47c9f5;
  --boxes-bg:#144454;
  --type-text-small:#fff;
  --header-bg:#144454;
  --small-nav-bg:#144454;
  --btn-bg:#47c9f5;
  --btn-hover-bg:#fff;
  --btn-txt:#fff;
  --btn-hover-txt:#47c9f5;
  --dark-shadow:#000;
  --light-shadow:1px 0px 13px 1px rgba(0,0,0,0.64) inset;
  --input-txt-focus:#000;
  --input-bg-focus:#fff;
  --first-logo-bg:#47c9f5;
  --logo-color-f:wheat;
  --logo-color-s:wheat;
}


.light-mode {
  --text-color:#144454;
  --type-text-small:#000;
  --body-bg: rgb(212, 168, 92);
  --contact-input-bg: rgb(209, 147, 32);
  --nav-link-hover:rgb(248, 167, 16);
  --boxes-bg: wheat;
  --header-bg: wheat;
  --small-nav-bg:wheat;
  --btn-bg: #047cf5;
  --btn-hover-bg:#144454 ;
  --btn-txt: #ffffff;
  --btn-hover-txt: #fff;
  --dark-shadow: #5a5858;
  --light-shadow:1px 0px 13px 1px rgba(0,0,0,0.64) inset;
  --input-txt-focus: #000;
  --input-bg-focus: #ffffff;
  --first-logo-bg:#02162b;
  --logo-color-f:wheat;
  --logo-color-s:#02162b;
}


::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background:var(--boxes-bg);
}

::-webkit-scrollbar-thumb{
  background:var(--btn-bg);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover{
  background:var(--btn-hover-bg);
}







body {
  background-color:var(--body-bg);
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.button {
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 20px;
  background-color:var(--btn-bg);
  color:var(--btn-txt);
  text-shadow: 1px 1px 10px var(--dark-shadow);
  transition: 0.6s all;
  box-shadow: var(--light-shadow);
}
.button:hover {
  color:var(--btn-hover-txt);
  background-color:var(--btn-hover-bg);
  text-decoration: underline;
}

.videoContainer {
  width: 100%;
  height: 80vh;
  z-index: -1;
}

.videoContainer video {
  width: 100%;
  object-fit: contain;
  z-index: -1;
  text-shadow: 1px 1px 10px var(--dark-shadow);
}


.Typewriter {
  color:white;
  position: absolute;
  text-shadow: 1px 1px 10px var(--dark-shadow);
  overflow: hidden;
  top: 40%;
  right: 30%;
  width: 200px;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.8rem;
}

@media screen and (max-width: 400px) {
  .Typewriter {
    right: 10%;
    color:var(--type-text-small);
  }

}
